@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --blue: #2563eb;
  --dark-blue: #1d4ed8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1.5rem 1rem;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* header - card */
header {
  margin-bottom: 2rem;
  grid-column: 1/5;
}

.card {
  position: relative;
  border-radius: 10px;
  background-color: var(--dark-blue);
  color: white;
}

.card-wrapper {
  padding: 1.5rem;
}

.id-status {
  position: absolute;
  top: -1%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: rgb(20, 153, 2);
  padding: 0.3rem 2rem;
  border-radius: 15px;
  font-size: 1.1rem;
}

.register-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.activation-date {
  font-size: 0.7rem;
}

.personal-data {
  display: flex;
}

.profile-picture {
  height: 120px;
  border-radius: 15px;
  margin-right: 1.5rem;
}

.name :first-child,
.idade :first-child,
.plano :first-child {
  font-size: 0.7rem;
}

.name :last-child,
.idade :last-child,
.plano :last-child {
  font-size: 1rem;
}

.name,
.idade {
  margin-bottom: 0.5rem;
}

/* main section - sections  */

main {
  grid-column: 1/5;
  max-width: 100%;
}

.sections {
  display: grid;
  grid-column: 1/5;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-bottom: 1.5rem;
}

.section {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 10px;
  padding: 0.7rem;
  border: 1px solid lightgray;
  border-radius: 10px;
  cursor: pointer;
}

.section img {
  width: 24px;
}

.section * {
  align-self: center;
  font-size: 0.9rem;
}

/* advertisement section  */

.indications {
  display: flex;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 35px;
  margin-bottom: 1.5rem;
}

.indications img {
  width: 50px;
  margin-right: 0.5rem;
}

.indications-text :first-child {
  color: var(--dark-blue);
  font-weight: 700;
}

.indications-text :last-child {
  font-size: 0.9rem;
}

/* Offers section */

.offers {
  margin-bottom: 1rem;
}

.offers h4 {
  margin-bottom: 0.7rem;
}

.offer-section {
  border: 1px solid var(--blue);
  border-radius: 10px;
}

.offer-text {
  padding: 0.5rem;
}

.offer-text :first-child {
  color: var(--blue);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.offer-text :nth-child(2) {
  color: hsl(0, 0%, 30%);
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.offer-text :last-child {
  color: var(--blue);
  font-weight: 700;
  font-size: 0.8rem;
}

/* Current section */

footer {
  grid-column: 1/5;
  padding: 0;
}

.current-section {
  position: relative;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 99vw;
  left: -4.2%;
  border-radius: 15px;
}

.nav-section {
  width: 20%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-section img {
  width: 28px;
  filter: invert(32%) sepia(83%) saturate(3145%) hue-rotate(214deg)
    brightness(93%) contrast(98%);
}

.nav-section p {
  font-size: 0.8rem;
}

.nav-section.active {
  position: relative;
  background-color: var(--blue);
  color: white;
  border-radius: 50%;
  font-size: 0.7rem;
  padding: 0;
  scale: 0.9;
  top: -15px;
}

.nav-section.active img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(232deg)
    brightness(105%) contrast(103%);
}

@media screen and (min-width: 420px) {
  body {
    width: 390px;
  }

  .current-section {
    width: 386px;
  }
}
